<div class="form-group">
  <h1>Add New Candidate</h1>
  <div class="row">
    <input type="text"  placeholder="First Name" formControlName="firstName"/>
    <input type="text"  placeholder="Last Name" formControlName="lastName"/>
  </div>
  <div>
    <input type="email"  placeholder="Email" formControlName="email"/>
  </div>
  <div>
    <input type="radio" name="gender" value="Male"/> Male
    <input type="radio" name="gender" value="Female"/> Female

    <button (click)="addData()">Add</button>
  </div>
</div>